html {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
}
body {
  background: #fff;
  font: 400 12px/1.8 "Open Sans", sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
}
iframe {
  border: 0;
  width: 100%;
  height: 198.38px !important;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left !important;
}
.position-relative {
  position: relative;
}
.btn,
a {
  transition: all 125ms ease-in-out 0s;
}
.post-thumbnail,
.post-video,
.price-table,
.team-image:after {
  transition: all 0.3s ease-in-out 0s;
}
.btn,
.form-control,
.form-control:focus,
.form-control:hover,
.panel {
  box-shadow: none;
}
.form-control,
.label,
.panel-group .panel,
.panel-heading {
  border-radius: 2px;
}
.help-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar-custom + .main {
  margin-top: 50px;
}
.main {
  position: relative;
  background-color: #fff;
  z-index: 1;
}
.divider-w {
  border-top: 1px solid #eaeaea;
  margin: 0;
}
.divider-d {
  border-top: 1px solid #202020;
  margin: 0;
}
.side-image {
  position: absolute;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.side-image-text {
  background: #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 140px 60px 140px;
}
.bg-dark,
.bg-dark .alt-module-subtitle h5,
.bg-dark .module-subtitle,
.bg-dark .module-title,
.bg-dark-30,
.bg-dark-30 .alt-module-subtitle h5,
.bg-dark-30 .module-subtitle,
.bg-dark-30 .module-title,
.bg-dark-60,
.bg-dark-60 .alt-module-subtitle h5,
.bg-dark-60 .module-subtitle,
.bg-dark-60 .module-title,
.bg-dark-90,
.bg-dark-90 .alt-module-subtitle h5,
.bg-dark-90 .module-subtitle,
.bg-dark-90 .module-title {
  color: #fff;
}
.bg-dark {
  background: #111;
}
.bg-dark-30:before {
  position: absolute;
  background: rgba(2, 2, 2, 0.4);
  content: " ";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.bg-dark-60:before {
  position: absolute;
  background: rgba(34, 34, 34, 0.8);
  content: " ";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.bg-dark-90:before {
  position: absolute;
  background: rgba(34, 34, 34, 0.9);
  content: " ";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.bg-gradient:before {
  position: absolute;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: linear-gradient(
    to bottom,
    rgba(169, 239, 225, 0.314) 25%,
    rgba(255, 145, 0, 0.2959) 55%
  );
  content: " ";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.p-0 {
  padding: 0 !important;
}
.m-0 {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mt-70 {
  margin-top: 70px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.mb-80 {
  margin-bottom: 80px !important;
}
@media only screen and (max-width: 991px) {
  .mt-sm-0 {
    margin-top: 0 !important;
  }
  .mt-sm-10 {
    margin-top: 10px !important;
  }
  .mt-sm-20 {
    margin-top: 20px !important;
  }
  .mt-sm-30 {
    margin-top: 30px !important;
  }
  .mt-sm-40 {
    margin-top: 40px !important;
  }
  .mt-sm-50 {
    margin-top: 50px !important;
  }
  .mt-sm-60 {
    margin-top: 60px !important;
  }
  .mt-sm-70 {
    margin-top: 70px !important;
  }
  .mt-sm-80 {
    margin-top: 80px !important;
  }
  .mb-sm-0 {
    margin-bottom: 0 !important;
  }
  .mb-sm-10 {
    margin-bottom: 10px !important;
  }
  .mb-sm-20 {
    margin-bottom: 20px !important;
  }
  .mb-sm-30 {
    margin-bottom: 30px !important;
  }
  .mb-sm-40 {
    margin-bottom: 40px !important;
  }
  .mb-sm-50 {
    margin-bottom: 50px !important;
  }
  .mb-sm-60 {
    margin-bottom: 60px !important;
  }
  .mb-sm-70 {
    margin-bottom: 70px !important;
  }
  .mb-sm-80 {
    margin-bottom: 80px !important;
  }
}
@media only screen and (max-width: 767px) {
  .mt-xs-0 {
    margin-top: 0 !important;
  }
  .mt-xs-10 {
    margin-top: 10px !important;
  }
  .mt-xs-20 {
    margin-top: 20px !important;
  }
  .mt-xs-30 {
    margin-top: 30px !important;
  }
  .mt-xs-40 {
    margin-top: 40px !important;
  }
  .mt-xs-50 {
    margin-top: 50px !important;
  }
  .mt-xs-60 {
    margin-top: 60px !important;
  }
  .mt-xs-70 {
    margin-top: 70px !important;
  }
  .mt-xs-80 {
    margin-top: 80px !important;
  }
  .mb-xs-0 {
    margin-bottom: 0 !important;
  }
  .mb-xs-10 {
    margin-bottom: 10px !important;
  }
  .mb-xs-20 {
    margin-bottom: 20px !important;
  }
  .mb-xs-30 {
    margin-bottom: 30px !important;
  }
  .mb-xs-40 {
    margin-bottom: 40px !important;
  }
  .mb-xs-50 {
    margin-bottom: 50px !important;
  }
  .mb-xs-60 {
    margin-bottom: 60px !important;
  }
  .mb-xs-70 {
    margin-bottom: 70px !important;
  }
  .mb-xs-80 {
    margin-bottom: 80px !important;
  }
}
.scroll-up {
  position: fixed;
  display: none;
  bottom: 7px;
  right: 7px;
  z-index: 999;
}
.scroll-up a {
  background: #fff;
  display: block;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  color: #000;
  opacity: 0.6;
  border-radius: 2px;
}
.scroll-up a:active,
.scroll-up a:hover {
  opacity: 1;
  color: #000;
}
.btn {
  border-radius: 0;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  padding: 8px 37px;
}
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}
.btn.btn-round {
  border-radius: 2px;
}
.btn.btn-w {
  background: rgba(255, 255, 255, 0.8);
  color: #111;
}
.btn.btn-w:focus,
.btn.btn-w:hover {
  background: #fff;
  color: #111;
}
.btn.btn-border-w {
  background: 0 0;
  border: 1px solid rgba(255, 255, 255, 0.75);
  color: #fff;
}
.btn.btn-border-w:focus,
.btn.btn-border-w:hover {
  background: #fff;
  border-color: transparent;
  color: #111;
}
.btn.btn-d {
  background: rgba(17, 17, 17, 0.8);
  color: #fff;
}
.btn.btn-d:focus,
.btn.btn-d:hover {
  background: #111;
}
.btn.btn-b {
  background: #111;
  color: #fff;
}
.btn.btn-b:focus,
.btn.btn-b:hover {
  background: rgba(17, 17, 17, 0.8);
}
.btn-border-d {
  background: 0 0;
  border: 1px solid #111;
  color: #111;
}
.btn.btn-border-d:focus,
.btn.btn-border-d:hover {
  background: #111;
  color: #fff;
}
.btn.btn-font-w {
  background: rgba(255, 255, 255, 0.8);
  color: #fff;
}
.btn.btn-font-w:hover {
  background: #fff;
  color: #111;
}
.btn.btn-sm {
  padding: 6px 25px;
  font-size: 10px;
  letter-spacing: 1px;
}
.btn.btn-xs {
  padding: 4px 19px;
  font-size: 10px;
  letter-spacing: 0;
}
.image-button {
  margin: 0 5px;
}
::-moz-selection {
  background: #000;
  color: #fff;
}
::-webkit-selection {
  background: #000;
  color: #fff;
}
::selection {
  background: #000;
  color: #fff;
}
.form-control {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  height: 33px;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  transition: all 0.4s ease-in-out 0s;
}
.form-control:focus {
  border-color: #cacaca;
}
.input-sm {
  height: 29px;
  font-size: 10px;
}
a {
  color: #111;
}
a:focus,
a:hover {
  text-decoration: none;
  color: #aaa;
  outline: 0;
}
.bg-dark a {
  color: #aaa;
}
.bg-dark a:focus,
.bg-dark a:hover {
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  font-weight: 400;
}
p,
ul {
  margin: 0 0 20px;
}
.font-alt {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.font-serif {
  font-family: Volkhov, "Times New Roman", sans-serif;
  font-style: italic;
}
.module-title {
  position: relative;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  color: #111;
  margin: 0 0 70px;
}
.module-subtitle {
  text-align: center;
  font-size: 16px;
  color: #111;
  margin-bottom: 70px;
}
.module-icon {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}
.module-title + .module-subtitle {
  margin-top: -35px;
}
.alt-module-subtitle {
  display: table;
}
.alt-module-subtitle h5 {
  display: table-cell;
  white-space: pre;
  padding: 0 8px;
  color: #111;
}
.titan-caption {
  position: relative;
  display: table;
  height: 100%;
  width: 70%;
  margin: 0 auto;
}
.titan-caption {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.caption-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.page-loader {
  position: fixed;
  background: #000;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9998;
}
.loader {
  position: absolute;
  border-left: 2px solid #fff;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  height: 46px;
  width: 46px;
  left: 50%;
  top: 50%;
  margin: -23px 0 0 -23px;
  text-indent: -9999em;
  font-size: 10px;
  z-index: 9999;
  -webkit-animation: load 0.8s infinite linear;
  -moz-animation: load 0.8s infinite linear;
  animation: load 0.8s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 46px;
  height: 46px;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.navbar-custom {
  background-color: rgba(10, 10, 10, 0.9);
  border: 0;
  border-radius: 0;
  z-index: 1000;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  transition: background, padding 0.4s ease-in-out 0s;
}
.navbar a {
  transition: color 125ms ease-in-out 0s;
}
.navbar-custom .navbar-brand {
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
}
.navbar-custom .nav li > a {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
}
.navbar-custom .nav .open > a,
.navbar-custom .nav .open > a:focus,
.navbar-custom .nav .open > a:hover,
.navbar-custom .nav > li > a:focus,
.navbar-custom .nav > li > a:hover {
  background: 0 0;
  color: #fff;
}
.navbar-custom .navbar-toggle .icon-bar {
  background: #fff;
}
.home-section {
  position: relative;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  z-index: 0;
  background-size: cover;
}
.titan-title-size-1 {
  letter-spacing: 4px;
  font-size: 15px;
}
.titan-title-size-2 {
  line-height: 1.3;
  letter-spacing: 3px;
  font-size: 18px;
  opacity: 0.8;
}
.titan-title-size-3 {
  letter-spacing: 16px;
  font-size: 46px;
}
.titan-title-size-4 {
  letter-spacing: 24px;
  font-weight: 400;
  font-size: 48px;
}
.about-page-header:before {
  background: rgba(2, 2, 2, 0.2);
}
.pricing-page-header {
  background-position: 40% 14%;
  background-repeat: no-repeat;
}
.pricing-page-header:before {
  background: rgba(2, 2, 2, 0.6);
}
.contact-page-header {
  background-position: 13% 45%;
  background-repeat: no-repeat;
}
.contact-page-header:before {
  background: rgba(2, 2, 2, 0.5);
}
.footer {
  padding: 10px 0;
}
.footer .copyright {
  margin: 0;
}
.footer .footer-social-links {
  text-align: right;
}
.footer .footer-social-links a {
  display: inline-block;
  padding: 0 6px;
}
#map-section {
  position: relative;
  height: 450px;
  width: 100%;
}
#map {
  height: 100%;
  width: 100%;
}
.features-item {
  margin: 20px 0;
  text-align: center;
}
.alt-features-icon,
.features-icon {
  line-height: 1.2;
  font-size: 42px;
  color: #111;
}
.alt-features-title,
.features-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 14px;
  color: #111;
  margin: 16px 0 15px;
}
.alt-features-item {
  position: relative;
  padding-left: 55px;
  margin: 65px 0 0 0;
}
.alt-features-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 40px;
  font-size: 28px;
}
.alt-features-title {
  font-size: 13px;
  margin: 0 0 10px;
}
.team-item {
  position: relative;
  text-align: center;
}
.team-image {
  position: relative;
  overflow: hidden;
}
.team-image:after {
  position: absolute;
  background: 0 0;
  content: " ";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.team-social a {
  display: inline-block;
  color: #aaa;
  padding: 5px 6px;
}
.team-social a:hover {
  color: #fff;
}
.team-name {
  font-size: 14px;
  color: #111;
}
.team-role {
  font-size: 11px;
  color: #aaa;
}
.team-item:hover .team-image:after {
  background: rgba(0, 0, 0, 0.6);
}
.price-table .small {
  margin: 0;
}
.borderline {
  position: relative;
  background: #eaeaea;
  display: block;
  height: 1px;
  width: 100%;
  margin: 20px 0 15px;
}
.borderline:before {
  position: absolute;
  background: #eaeaea;
  content: "";
  bottom: -7px;
  left: 50%;
  height: 14px;
  width: 14px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: -7px;
}
.borderline:after {
  position: absolute;
  background: #fff;
  content: "";
  bottom: -5px;
  left: 50%;
  height: 16px;
  width: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  margin-left: -8px;
}
.price-table h4 {
  color: #111;
  margin: 0;
}
.price-table p.price {
  font-size: 60px;
  color: #111;
  padding: 0;
  margin: 0 0 0 -10px;
}
.price-table p.price span {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  padding-top: 25px;
}
.price-details {
  list-style: none;
  padding: 0;
  margin: 0 0 23px;
}
.price-details li {
  padding: 7px 0;
}
.price-details li > span {
  text-decoration: line-through;
  color: #aaa;
}
.price-table:hover {
  border-color: #cacaca;
}
.video-title {
  letter-spacing: 4px;
  font-size: 30px;
  margin: 10px 0 0;
}
.video-subtitle {
  color: rgba(255, 255, 255, 0.5);
}
.post {
  margin: 0 0 80px;
}
.post-title {
  line-height: 1.4;
  font-size: 22px;
  color: #111;
  margin: 0;
}
.post-header {
  margin: 0 0 15px;
}
.post-meta {
  font-size: 11px;
  color: #aaa;
}
.post-entry {
  border-top: 1px dotted #c2c2c2;
  padding-top: 20px;
  margin-top: 10px;
}
.post-thumbnail,
.post-video {
  margin: 0 0 20px;
}
.post-columns .post {
  margin: 0 0 60px;
}
.post-columns .post-header {
  margin: 0 0 10px;
}
.post-columns .post-title {
  line-height: 1.8;
  font-size: 14px;
}
.post-columns .post-entry {
  padding: 10px 0 0;
  margin: 0 0 10px;
}
.post-columns .post-entry p:last-child {
  margin: 0;
}
.more-link:after {
  content: "\00BB";
  color: #666;
  padding-left: 5px;
}
.panel-title {
  font-size: 14px;
}
.panel-heading a {
  position: relative;
  display: block;
}
.panel-heading a:after {
  position: absolute;
  content: "\f106";
  top: 50%;
  right: 0;
  font-family: FontAwesome;
  line-height: 1;
  font-size: 14px;
  margin-top: -7px;
}
.panel-heading a.collapsed:after {
  content: "\f107";
}
@media (min-width: 1150px) {
  .navbar-transparent {
    background: 0 0;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}
@media (max-width: 1200px) {
  .alt-features-item {
    margin: 20px 0 0;
  }
  .navbar-custom {
    letter-spacing: 1px;
  }
  .navbar-brand {
    font-size: 18px;
  }
  .side-image {
    background-position: 75% center;
  }
}
@media (max-width: 991px) {
  .navbar-custom {
    letter-spacing: 0;
  }
  .titan-title-size-3 {
    letter-spacing: 8px;
    font-size: 36px;
  }
  .titan-title-size-4 {
    letter-spacing: 12px;
    font-size: 38px;
  }
  .side-image {
    position: relative;
    height: 450px;
    background-position: center 10%;
  }
}
@media (max-width: 767px) {
  .navbar-custom .navbar-nav {
    letter-spacing: 3px;
    margin-top: 1px;
    margin-bottom: 0;
  }
  .navbar-custom li > a:hover {
    background: rgba(255, 255, 255, 0.1) !important;
  }
  .navbar-custom li a {
    border-bottom: 1px solid rgba(73, 71, 71, 0.15) !important;
  }
  .navbar-custom .navbar-nav > li:last-child.navbar-cart > a {
    padding-left: 15px;
  }
  .titan-title-size-1 {
    letter-spacing: 2px;
    font-size: 14px;
  }
  .titan-title-size-2 {
    line-height: 1.3;
    letter-spacing: 2px;
    font-size: 16px;
    opacity: 0.8;
  }
  .titan-title-size-3 {
    letter-spacing: 4px;
    font-size: 26px;
  }
  .titan-title-size-4 {
    letter-spacing: 6px;
    font-size: 28px;
  }
  .features-item {
    margin: 0 0 30px;
  }
  .alt-features-item {
    padding-left: 0;
    margin: 0 0 30px;
    text-align: center;
  }
  .alt-features-icon {
    position: static;
    width: auto;
    margin: 0 auto 8px;
  }
  .post.mb-0 {
    margin-bottom: 40px !important;
  }
  .footer {
    text-align: center;
  }
  .copyright,
  .footer-social-links {
    text-align: center;
    margin: 10px 0;
  }
  .side-image-text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .align-center-sm {
    text-align: center;
  }
  .align-left-sm {
    text-align: left;
  }
}
/* Added */
.module,
.module-small {
  position: relative;
  padding: 30px 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.module-small {
  padding: 30px 0;
}
.price-table {
  background: #fff;
  border: 1px solid #eaeaea;
  padding: 25px 20px;
  margin: 15px 0 15px;
  border-radius: 2px;
  text-align: center;
}
.price-table.best {
  margin: 0 0 15px;
}

@media (max-width: 1150px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-custom .navbar-nav {
    letter-spacing: 3px;
    margin-top: 1px;
    margin-bottom: 0;
  }
  .navbar-custom li > a:hover {
    background: rgba(255, 255, 255, 0.1) !important;
  }
}
@media (max-width: 416px) {
  .navbar-brand {
    display: none;
  }
}
@media (max-width: 767px) {
  .home-section {
    background-position: 20% center;
  }
}
@media (max-width: 1110px) {
  .home-section {
    background-position: 20% center;
  }
}
@media (max-width: 991px) {
  iframe.responsive-iframe {
    height: auto;
    width: 100%;
    border: none;
  }
}
@media (max-width: 991px) {
  .trainingCard {
    justify-items: center;
  }
  .price-table {
    width: 66%;
    max-width: 100%;
  }
  .price-table.best {
    margin: 15px 0 15px;
  }
}
